<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ElasticServer" value="http://10.57.35.183:9200"/>
    <add key="DbConnection" value="server=10.128.36.166;database=g4tv_web;User ID=webuser;Password=tacobell33;Min Pool Size=5;Max Pool Size=60" />
  </appSettings>
</configuration>